{% extends "templates/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Home</h1>
<p>
    I am Joel Schumacher and this is my mostly programming related website.
</p>

<p>
    <a href="https://github.com/pfirsich/theshoemaker">This website</a>
    is being served by my own HTTP server <a href="https://github.com/pfirsich/htcpp">htcpp</a>.
</p>

<h3>Links:</h3>
<ul>
    <li><a href="https://github.com/pfirsich">GitHub</a></li>
    <li><a href="https://www.youtube.com/channel/UCgD1mCgei-Cy_5_Df1yc6Gw">YouTube</a></li>
    <li><a href="https://www.linkedin.com/in/joel-schumacher/">LinkedIn</a></li>
    <li><a href="mailto:mail@joelschumacher.de">E-Mail</a></li>
</ul>

{% endblock %}
