{% extends "templates/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<style>
    .post img {
        max-width: 100%;
    }

    .comment {
        border-left: 2px solid #616161;
        padding: 1px 20px;
        margin: 20px 0px;
        background-color: #2d2d2d;
    }

</style>
{% endblock %}

{% block content %}
<div id="blog">
    <div class="post">
        <h1>{{ title }}</h1>
        <p class="postdate">
            <time datetime="{{ publish_date }}">{{ publish_date | datetime("%Y-%m-%d") }}</time>
            {% if update_date is defined %}
            (Updated: <time datetime="{{ update_date }}">{{ update_date | datetime("%Y-%m-%d") }}</time>)
            {% endif %}
        </p>
        {{ content | safe }}
    </div>
    {% if comments is defined %}
    <div id="comments" class="comments">
        <h3>Comments (from old blog)</h3>
        {% for comment in comments %}
        <div class="comment" style="margin-left: {{ comment.level | default(0) * 50 }}px">
            <p><b>{{ comment.author }}</b> ({{ comment.post_date }})</p>
            {{ comment.content | markdown | safe }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
